In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
filename = "/content/drive/MyDrive/subwayfee.csv"
import csv
f = open(filename, 'r',encoding='UTF8')
data = csv.reader(f,delimiter=',')
for row in data:
  print(row)
f.close()

In [ ]:
filename = "/content/drive/MyDrive/subwayfee.csv"
import csv
f = open(filename, 'r',encoding='UTF8')
data = csv.reader(f,delimiter=',')
next(data) 
for row in data:
  for i in range(4,8):
    row[i]=int(row[i].replace(',',''))
  print(row)
f.close()

In [7]:
filename = "/content/drive/MyDrive/subwayfee.csv"
import csv
f = open(filename, 'r',encoding='UTF8')
data = csv.reader(f,delimiter=',')
next(data) 
rate=0
max=0
for row in data:
  for i in range(4,8):
    row[i]=int(row[i].replace(',',''))
  if row[6] !=0:
    rate = row[4]/row[6]
  if rate  > max:
    max = rate
print(max)
f.close()

25.0

In [9]:
filename = "/content/drive/MyDrive/subwayfee.csv"
import csv
f = open(filename, 'r',encoding='UTF8')
data = csv.reader(f,delimiter=',')
next(data) 
rate=0
max=0
for row in data:
  for i in range(4,8):
    row[i]=int(row[i].replace(',',''))
  if row[6] ==0:
    print(row)
f.close()

['2023-05', '경원선', '1022', '창동', 15, 0, 0, 0, '2023-06-03 10:09:52']
['2023-05', '일산선', '1949', '지축', 12, 0, 0, 0, '2023-06-03 10:09:52']
['2023-05', '경의선', '1295', '김포공항', 1, 0, 0, 0, '2023-06-03 10:09:52']
['2023-05', '7호선', '2756', '신중동', 3, 0, 0, 0, '2023-06-03 10:09:52']
['2023-05', '7호선', '2759', '삼산체육관', 1, 0, 0, 0, '2023-06-03 10:09:52']

In [12]:
filename = "/content/drive/MyDrive/subwayfee.csv"
import csv
f = open(filename, 'r',encoding='UTF8')
data = csv.reader(f,delimiter=',')
next(data) 
rate=0
max=0
for row in data:
  for i in range(4,8):
    row[i]=int(row[i].replace(',',''))
  if row[6] !=0:
    rate = row[4]/row[6]
  if rate  > max:
    max = rate
    print(row,round(max,2))
f.close()

['2023-05', '1호선', '0150', '서울역', 1383395, 1317062, 221340, 211295, '2023-06-03 10:09:52'] 6.25
['2023-05', '1호선', '0151', '시청', 672017, 683164, 93371, 92606, '2023-06-03 10:09:52'] 7.2
['2023-05', '2호선', '0201', '시청', 671046, 633834, 60018, 54991, '2023-06-03 10:09:52'] 11.18
['2023-05', '2호선', '0202', '을지로입구', 1240802, 1268374, 103975, 96307, '2023-06-03 10:09:52'] 11.93
['2023-05', '2호선', '0209', '한양대', 376138, 426614, 15364, 16240, '2023-06-03 10:09:52'] 24.48
['2023-05', '분당선', '1031', '복정', 25, 0, 1, 0, '2023-06-03 10:09:52'] 25.0

In [13]:
filename = "/content/drive/MyDrive/subwayfee.csv"
import csv
f = open(filename, 'r',encoding='UTF8')
data = csv.reader(f,delimiter=',')
next(data) 
rate=0
max=0
for row in data:
  for i in range(4,8):
    row[i]=int(row[i].replace(',',''))
  if row[6] !=0:
    rate = row[4]/(row[6]+row[4])
  if rate  > max:
    max = rate
    print(row,round(max,2))
f.close()

['2023-05', '1호선', '0150', '서울역', 1383395, 1317062, 221340, 211295, '2023-06-03 10:09:52'] 0.86
['2023-05', '1호선', '0151', '시청', 672017, 683164, 93371, 92606, '2023-06-03 10:09:52'] 0.88
['2023-05', '2호선', '0201', '시청', 671046, 633834, 60018, 54991, '2023-06-03 10:09:52'] 0.92
['2023-05', '2호선', '0202', '을지로입구', 1240802, 1268374, 103975, 96307, '2023-06-03 10:09:52'] 0.92
['2023-05', '2호선', '0209', '한양대', 376138, 426614, 15364, 16240, '2023-06-03 10:09:52'] 0.96
['2023-05', '분당선', '1031', '복정', 25, 0, 1, 0, '2023-06-03 10:09:52'] 0.96

In [17]:
filename = "/content/drive/MyDrive/subwayfee.csv"
import csv
f = open(filename, 'r',encoding='UTF8')
data = csv.reader(f,delimiter=',')
next(data) 
rate=0
max=0
for row in data:
  for i in range(4,8):
    row[i]=int(row[i].replace(',',''))
  if row[6] !=0 and (row[6]+row[4])>100000:
    rate = row[4]/(row[6]+row[4])
    if rate  > 0.93:
      max = rate
      print(row,round(rate,2))
f.close()

['2023-05', '2호선', '0209', '한양대', 376138, 426614, 15364, 16240, '2023-06-03 10:09:52'] 0.96
['2023-05', '2호선', '0222', '강남', 2117612, 2063949, 158849, 139697, '2023-06-03 10:09:52'] 0.93
['2023-05', '2호선', '0239', '홍대입구', 1993284, 2145437, 101797, 98680, '2023-06-03 10:09:52'] 0.95
['2023-05', '경부선', '1001', '서울역', 278170, 81185, 17839, 3712, '2023-06-03 10:09:52'] 0.94
['2023-05', '6호선', '2624', '상수', 300498, 346652, 22500, 22931, '2023-06-03 10:09:52'] 0.93
['2023-05', '6호선', '2632', '한강진', 286500, 343880, 20004, 19936, '2023-06-03 10:09:52'] 0.93
['2023-05', '9호선', '4115', '여의도', 724037, 705386, 51720, 47643, '2023-06-03 10:09:52'] 0.93
['2023-05', '9호선', '4125', '신논현', 850323, 833494, 55248, 53903, '2023-06-03 10:09:52'] 0.94
['2023-05', '공항철도 1호선', '4203', '홍대입구', 406664, 397471, 20275, 18783, '2023-06-03 10:09:52'] 0.95
['2023-05', '공항철도 1호선', '4206', '마곡나루(서울식물원)', 271045, 262910, 17937, 18488, '2023-06-03 10:09:52'] 0.94

In [40]:
filename = "/content/drive/MyDrive/subwayfee.csv"
import csv
f = open(filename, 'r',encoding='UTF8')
data = csv.reader(f,delimiter=',')
next(data) 
rate=0
max=0
num = ""
num1=0
for row in data:
  for i in range(4,8):
    row[i]=int(row[i].replace(',',''))
  if row[6] !=0 and (row[6]+row[4])>100000:
    rate = row[4]/(row[6]+row[4])
    if rate > max:
      max = rate
      num = row[3]+'  '+row[1]
      num1 = rate
print(num,round(num1*100,2),'%')
f.close()

한양대  2호선 96.08 %

In [45]:
filename = "/content/drive/MyDrive/subwayfee.csv"
import csv
f = open(filename, 'r',encoding='UTF8')
data = csv.reader(f,delimiter=',')
next(data) 

max=[0,0,0,0]
max_station=['']*4
label = ['유임승차','유임하차','무임승차','무임하차']
for row in data:
  for i in range(4,8):
    row[i]=int(row[i].replace(',',''))
    if row[i] > max[i-4]:
      max[i-4] = row[i]
      max_station[i-4] = row[3]+' '+row[1]
for i in range(4):
  print(label[i],max_station[i],max[i],'명')
f.close()

유임승차 강남 2호선 2117612
유임하차 홍대입구 2호선 2145437
무임승차 종로3가 1호선 318832
무임하차 제기동 1호선 302727