In [7]:
#해결 문제1
#set으로 출입 명부 만들기
vip_names = ['Newton','Kepler','Euler','Galileo']
room1_list = ['Newton']
room2_list = ['Euler','Galileo']
room1_list=set(room1_list)
room2_list=set(room2_list)
vip_names = set(vip_names)
print(room1_list)
print(room2_list)
print(vip_names - (room1_list|room2_list))

{'Newton'}
{'Galileo', 'Euler'}
{'Kepler'}

In [9]:
#집합 연산
a = (1,2,2,3,10,20)#튜플
b = [2,10,20,30,30]#리스트

a = set(a)
b = set(b)

print(f"{a} , {b}")
print(f"{a&b}")
print(f"{a | b}")
print(f"{a - b}")
print(f"{b -a}")

{1, 2, 3, 10, 20} , {2, 10, 20, 30}
{2, 10, 20}
{1, 2, 3, 10, 20, 30}
{1, 3}
{30}

In [10]:
#컬렉션 요소 접근
lst = [10,50,30]
tp = ('a','b','c')
for item in lst:
  print(item,end='')
for item in tp:
  print(item, end='')

105030abc

In [12]:
# 딕셔너리 만들기 : dict() 함수와 zip() 함수 이용
dy = dict(zip(tp,lst))
print(dy)
for item in dy:
  print(f'{item}:{dy[item]}')

{'a': 10, 'b': 50, 'c': 30}
a:10
b:50
c:30

#내장 함수


*   len(컬렉션명) : 컬렉션 요소 개수
*   max(컬렉션명) : 가장 큰 요소값 반환
    + 딕셔너리인 경우는 키 값 중 가장 큰 요소로 반환
*   min(컬렉션명) : 가장 작은 요소값 반환
    + 딕셔너리인 경우는 키 값 중 가장 작은 요소 반환
*   sum(컬렉션명) : 수치 요소로 이루어진 컬렉션 요소의 합
    + 딕셔너리인 경우는 키 값의 합
*   sorted(컬렉션명) : 컬렉션 요소 정렬
    + 딕셔너리인 경우는 키 값을 정렬하여 키 리스트 반환

In [13]:
# 내장함수
lst = [10,50,30]
print(len(lst))
print(max(lst))

print(min(lst))
print(sum(lst))
print(sorted(lst))
lst.sort()# 안이 바뀜

3
50
10
90
[10, 30, 50]

In [14]:
temp =[10.8, 8.5, 8.7, 7.9, 5.1,
       8.1,8.2,10.4,11,9.9,
       7.8,9.5,11.6,8.2,7.7,
       6.6,11.1,12.2,10.4,
       13.7,14.1,12.6,11.5,13,
       14.5,13.7,9.4,10.4,11.6,12.9
       ]
print(max(temp))
print(min(temp))
print(f'{sum(temp)/len(temp):0.2f}')

14.5
5.1
10.37

In [24]:
y = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
yavg = [14.9,14.6,14.5,15.3,15.1,15.4,15.7,15.2,15.1,15.7]
ymax = [34.1, 33,34.5,35,32.9,33.5,37.3,36.2,36.4,35]
ymin = [19,18.8,18.6,19.5,19.2,19.5,19.8,19.6,19.2,19.8]
for i in y:
  if i%2==1:
    print(i, end=' ')
print()
ytemp=dict(zip(y,yavg))
print(ytemp)

mintemp=min(ytemp.values())
ryear=[]
for year,temp in ytemp.items():
  if temp==mintemp:
    ryear.append(year)
print(f'{ryear}:{mintemp}')

maxv=max(ymax)
ylist=[]
for i in range(len(ymax)):
  if ymax[i]==maxv:
    ylist.append(y[i])
print(f'{ylist}:{maxv}')
ymlist=[]
minv = min(ymin)
for i in range(len(ymin)):
  if ymin[i] == minv:
    ymlist.append(y[i])
print(f'{ymlist}:{minv}')

2011 2013 2015 2017 2019
{2010: 14.9, 2011: 14.6, 2012: 14.5, 2013: 15.3, 2014: 15.1, 2015: 15.4, 2016: 15.7, 2017: 15.2, 2018: 15.1, 2019: 15.7}
[2012]:14.5
[2016]:37.3
[2012]:18.6